#advanced_submit {
    font-size: 0.7em;
    color: #202124;
    font-weight: bold;
    background-color: #8ab4f8;
    border-color: #8ab4f8;
    border-radius: 2px;
}

#advanced_submit:hover {
    background-color: #aecbfa;
    border-color: #aecbfa;
}

@media (min-width: 601px) {
    #search_div {
        width: 45%;
    }
}

@media (max-width: 600px) {
    #search_div {
        width: 80%;
    }
}

a {
    text-align: right;
    float: right;
    margin-left: 0.5em;
    margin-top: 1em;
}

#navbar {
    margin-right: 1em;
}